<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AskService</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../public/css/jobProfile.css" />
  </head>

  <body>
    <div class="container bcontent">
      <nav class="container flex items-center justify-between navbar">
        <div>
          <!-- <img src="/im/AskServiceLogo.png" alt="logo" width="80" /> -->
          <h2>AskService</h2>
        </div>
        <div>
          <ul class="flex items-center">
            <li class="ml-10 mt-3"></li>
            <li class="ml-10 mt-3">
              <h5><a href="/cHome" class="links">Hire</a></h5>
            </li>
            <li class="ml-10 mt-3">
              <h5><a href="/wHome" class="links">Apply for job</a></h5>
            </li>
            <li class="ml-10 mt-3">
              <h5><a href="/about" class="links">About</a></h5>
            </li>
            <% if(locals.user){%>
            <li class="ml-10 mt-3">
              <h5>
                <a href="/profile" class="links"> <%=locals.user.name%> </a>
              </h5>
            </li>
            <% }else{ %>
            <li class="ml-10 mt-3">
              <h5><a href="/login" class="links">Login</a></h5>
            </li>
            <% }%> <% if(locals.user){%>
            <li class="ml-10 mt-3">
              <h5>
                <form action="/logout">
                  <button>Logout</button>
                </form>
              </h5>
            </li>
            <% } %>
          </ul>
        </div>
      </nav>

      <div style="text-align: center; color: blue">
        <span style="font-size: 75px; font-weight: bolder">BOOK </span>
        <span style="font-size: 75px; font-weight: 100">ONLINE</span>
      </div>
      <hr />

      <!-- Home Cleaning -->
      <br />
      <br />
      <% let count=0%> <%for(job of jobs){ %> <% if(job.role==locals.role){%> <%
      count=count + 1 %>
      <!-- <div class="card" style="width: 1100px; height: 315px;">
                            <div class="row no-gutters">
                                <div class="col-sm-5">
                                    <img class="card-img"
                                        src="https://i.pinimg.com/236x/47/5a/86/475a86177aeedacf8dc7f5e2b4eff61f.jpg"
                                        alt="User Image">
                                </div>
                                <div class="col-sm-7"
                                    style="background-color: lightgray; text-align: center; align-items: center;">
                                    <div class="card-body">
                                        <br>
                                        <br>
                                        <h3 class="card-title" style="color: blue;">
                                            <%=job.username%>
                                        </h3>
                                        <p class="card-text" style="font-size: 20px;">
                                            <%=job.email%>
                                        </p>
                                        <p class="card-text" style="font-size: 20px;">
                                            <%= job.contact%>
                                        </p>


                                        <a href="/hire/<%=job.role%>" class="btn btn-primary">Hire</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
      <!-- <div class="card" style="width: 18rem">
        <img class="card-img-top" src="https://i.pinimg.com/236x/47/5a/86/475a86177aeedacf8dc7f5e2b4eff61f.jpg" style="height: 180px; width: 286px;" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title text-center"> Name : <%=job.username%></h5>
          <h5 class="card-subtitle text-center"> Job Title: <%=job.role%></h5><br>
          <h5 class="card-subtitle text-center">Expected Income: <%=job.income%></h5>

          <a href="#" class="btn btn-primary">Hire</a>
        </div>
      </div> -->
      <!-- <div class="row-cols-3 ml-10 mr-10">
      <div class="card" style="width: 290px;">
         <img
         src="/im/Cleaning"
          style="height: 180px; width: 286px"
          alt="John"/>
        <h1 class="text-center"><%=job.username%></h1>
        <p class="title text-center"><%=job.role%></p>
        <p class="text-center"><%=job.income%></p>
       
        <p><button class="btn-primary" style="height: 30px; width: 270px;">Contact</button></p>
      </div>
      </div> -->
      <!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
          <div style="justify-content: space-between;">
          <div  style="width: 18rem; border: 2px solid blue;">
            <!--  <div class="card h-50"> -->
            <img src="/im/ElderlyCare" class="card-img-top" alt="..."/>
            <div class="card-body">
              <h1 class="text-center"><%=job.username%></h1>
              <h5 class="card-subtitle text-center"><%=job.role%></h5>
              <h5 class="card-subtitle text-center mt-2">Expected income: <%=job.income%></h5>

            </div>
            <div class="card-footer  text-center  bg-primary">
              <a type="none">
                
                <form action="/sendMail" method="post">
                  <input type="text" style="display: none;" name="email" value=<%= job.email %> >
                  <button>

                    <large class="text-white detail-btn">Hire</large>
                  </button>
                </form>
              
              </a>
            </div>
          </div>
        </div>
        <!-- </div> -->
      <br />
      <br />
      <br />
      <%} %> <% }%> <% if(count===0){ %>
      <h1 style="text-align: center">No User Found For This Job Profile.</h1>
      <%}%>
    </div>
  </div>
  </body>
</html>
